	<div class="page-wrapper">
		<%- include('../partials/global/global-styles') %>
		<%- include('../partials/global/navbar') %>
		<%- include('../partials/sections/language-banner') %>
		<%- include('../partials/sections/popup') %>
		<div class="main-wrapper">
			<%- include('../partials/sections/hero7') %>
			<%- include('../partials/sections/steps') %>
			<%- include('../partials/sections/testimonial') %>
			<%- include('../partials/sections/grids') %>
			<%- include('../partials/sections/location-map') %>
			<%- include('../partials/sections/call-cta', { contact: data.contact }) %>
		</div>
		<%- include('../partials/global/footer') %>
	</div>
	<%- include('../partials/global/body-scripts') %>
